@charset "UTF-8";

:host {
    display: block;
    contain: content;
}

select {
    font-size: 16px; /* モバイルデバイスでタッチされた時に拡大されるのを防ぐ。 */
}

.aircraft-loading-size {
    display: inline-block;
    width: 2rem;
}

.aircraft-selector-container {
    display: flex;
    flex-wrap: wrap;
}

.aircraft-nobonus-checker-container {
    white-space: nowrap;
}
